<div class="searches-index">
  <div class="search-results">
    <h2 class="searches-header">Your Search Results</h2>
      <% @shows.each do |show| %>
        <div class="panel">
          <h4>
          <%= link_to show.band.name, show_path(show) %> at
          <%= link_to show.venue.name, venue_path(show.venue) %>
          </h4>
          <div class="tags">
            Tags: <%= show.display_tags %>
          </div>
        </div>
      <% end %>
  </div>
</div>
