/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body
 {
   background: {
     image: asset-url("concert.jpg");
   }
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
 }

.newest-shows
{
  width: 30%;
  background: {
    color: #170563;
  }
  opacity: .94;
  margin-left: 3%;
  float: left;
}

.hot-shows
{
  width: 30%;
  background: {
    color: #170563;
  }
  margin-left: 2%;
  opacity: .94;
  float: left;
}

.upcoming-shows
{
  width: 30%;
  background: {
    color: #170563;
  }
  margin-left: 2%;
  opacity: .94;
  float: left;
}


.show-header
{
  width: 80%;
  margin: 3% auto;
  background: {
    color: #170563;
  }
  text-align: center;
}

.show-votes {
  color: white;
  float: left;
}

h3.show-header-text {
  color: white;
}

.show-details {
  width: 25%;
  text-align: center;
  float: left;
  margin-left: 1%;
}

.page-content
{
  width: 90%;
  margin: 8% auto;
}

.front-search {
  display: inline-block;
  width: 50%;
  margin-top: 2%;
}

input#front-search-bar {
  float: left;
  width: 60%;
  margin-left: 100px;
}

input#front-search-button {
  float: left;
  position: relative;
  transform: translateY(-2%);
  text-align: center;
}

.search-section {
  text-align: center;
}

.shows-details {
  margin: 1%;
}

.band-and-venue {
  text-align: center;
}

.band-name {
  text-align: center;
}

.venue-name {
  width: 85%;
  text-align: center;
}

.date-time {
  text-align: center;
}

.votes {
  float: left;
  text-align: center;
}

.ticket-url {
  float: right;
}

.header {
  color: white;
}

.newest-header {
  text-align: center;
  color: white !important;
}

.hot-header {
  text-align: center;
  color: white !important;
}

.upcoming-header {
  text-align: center;
  color: white !important;
}

.tag {
  color: blue;
}

.venues {
  width: 60%;
  background: {
    color: #170563;
  }
  margin: 8% auto;
  opacity: .94;
  text-align: center;
}

.bands {
  width: 60%;
  background: {
    color: #170563;
  }
  margin: 8% auto;
  opacity: .94;
  text-align: center;
}

.review-form {
  float: left;
  width: 60%;
}

.reviews {
  float: left;
  width: 60%;
  margin-left: 1%;
  margin-top: 3%;
  background: {
    color: #170563;
  }
}

.review {

}
