.band-header
{
  width: 80%;
  margin: 3% auto;
  background: {
    color: #170563;
  }
  text-align: center;
  color: white;
}

.band-shows-info {
  width: 25%;
  float: left;
  text-align: center;
}
