.band-header-background {
  background-color: #1F3A85;
  padding-top: 2%;
  padding-bottom: 2%;
}

.band-header
{
  width: 80%;
  margin: 0 auto;
  background: {
    color: #170563;
  }
  text-align: center;
  color: white;
}

h3.band-header-text {
  color: white;
}

.band-shows-info {
  width: 25%;
  float: left;
  text-align: center;
}
