.newest-shows
{
  background: {
    color: #170563;
  }
  opacity: .94;
  margin-left: .5%;
  margin-right: .5%;
}

.hot-shows
{
  background: {
    color: #170563;
  }
  opacity: .94;
  margin-left: .5%;
  margin-right: .5%;
}

.upcoming-shows
{
  background: {
    color: #170563;
  }
  opacity: .94;
  margin-left: .5%;
  margin-right: .5%;

}

.page-content
{
  padding-top: 1%;
  background-color: #cccccc;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.all-shows-background {
  padding-top: 2%;
  border-top: 2px solid black;
  background-color: #1F3A85;
  border-bottom: 1px solid black;
}

.all-shows {
  width: 70%;
  margin: 0 auto;
}

.all-shows-header {
  text-align: center;
}

.front-search {
  display: inline-block;
  width: 60%;
  margin-top: 2%;
}

input#front-search-bar {
  float: left;
  width: 50%;
  margin-left: 18%;
  padding-top: 1.3rem;
  padding-bottom: 1.7rem;
  font-size: 30px;
}

input#front-search-button {
  float: left;
  position: relative;
  transform: translateY(-2%);
  text-align: center;
}

.search-section {
  background: {
       image: asset-url("concert.jpg");
       repeat: no-repeat;
       size: cover;
     }
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  margin-bottom: 1%;
  border-bottom: 2px solid black;
}

.band-and-venue {
  text-align: center;
}

.band-name {
  text-align: center;
}

.venue-name {
  width: 85%;
  text-align: center;
  margin-left: 8%;
}

.date-time {
  text-align: center;
  margin-right: 5%;
}

.votes {
  float: left;
  text-align: center;
}

.ticket-url {
  float: right;
}

.header {
  color: white;
}

.newest-header {
  text-align: center;
  color: white !important;
}

.hot-header {
  text-align: center;
  color: white !important;
}

.upcoming-header {
  text-align: center;
  color: white !important;
}

.tag {
  background: blue;
}

.all-shows-venue-name {
  margin-right: 5%;
}

.pagination {
  text-align: center;
}
