.searches-index{
  background: #1F3A85;
  padding-top: 5%;
  padding-bottom: 2%;
}

.search-results {
  width: 60%;
  background: {
    color: #170563;
  }
  margin: 0 auto;
  opacity: .94;
  text-align: center;
  border: 1px solid black;
}

.searches-header {
  text-align: center;
  color: white !important;
}
