.search {
  width: 30%;
}

input#searchBar {
  float: left;
  width: 55%;
}

input#searchButton {
  width: 40%;
  margin-left: 0.5em;
  position: relative;
  transform: translateY(-35%);
  font-family: 'Karla', sans-serif;
}
