.user-background {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: black;
}

.user-header {
  text-align: center;
  background-color: #170563;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.user-content {
  max-width: 100%;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.myshowup-upvotes {
  margin-left: 4%;
  margin-right: 8%;
}

.myshowup-upcomingShows {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
