.venue-shows {
  background-color: #1F3A85;
  padding-top: 5%;
  padding-bottom: 2%;
}

.venue-header
{
  width: 80%;
  margin: 3% auto;
  background: {
    color: #170563;
  }
  text-align: center;
  color: white;
}

.venue-reviews {
  margin-top: 2%;
  border: 1px solid black;
  padding: 1%;
}

.venue-shows {
  display: inline-flex;
  width: 100%;
}

.shows {
  width: 45%;
  margin-left: 10%;
}

.venue-info {
  height: 100%;
  text-align: center;
}
