<h1>Shows</h1>

<ul>
  <% @shows.each do |show| %>
    <li>
      <%= link_to show.band.name, venue_show_path(show.venue, show) %>
      <%= link_to show.venue.name, venue_path(show.venue) %>
      <%= show.date %>
      <%= show.time %>
    </li>
  <% end %>
</ul>
